body {
	background-color: yellow;
	color: red;
}

h1 {
	color: blue;
}

p {
	font-size: 20px;
}

img {
	max-width: 2500px;
	height: 500px;
	background-color: powderblue;
}


h1 {
	font-family: 'Corben', Georgia, Times, serif;
	font-size: 40px;
	line-height: 55px;
}
 
h1 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 59px;
	line-height: 60px;
}
 
h1 {
	font-family: 'Corben', Georgia, Times, serif;
	font-size: 40px;
	line-height: 55px;
}
 
p, li {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}
